.card_title {
    font-weight: 700;
    margin-bottom: 16px;
}

.card {
    .feed_userContent {
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        border-radius: 11px;
        padding: 22px;
    }
}

.card_text {
    margin-bottom: 30px;
}
.card_username {
    margin-left: 0;
}