.img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 5px;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 16px;

    &:hover {
        border: 2px solid #A6328D;
    }
}

