.likes{
    display: flex;
}

.icon_pic {
    margin-right: 5px;
}

.btn {
    display: flex;
}

.fork-amount {
    padding-left: 5px;
}
table {
    border-collapse: collapse;
   
    
}
th {
    border: 1px solid rgba(27, 31, 35, 0.15);
 }
.th_star {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}
.th_likes {
    border-top: 0;
    border-bottom: 0;
    padding: 0 5px;
}
.th_fork {
    border-top: 0;
    border-bottom: 0;
}
.th_amount {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    padding-left: 6px;
}