.feed_userInfo {
    display: flex;
    align-items: center;
}
.feed_userInfo-icon {
    max-width: 44px;
    min-width: 24px;
    max-height: 44px;
    min-height: 24px;
    border-radius: 50%;
    margin-right: 12px;
}
.feed_userInfo-name {
    font-weight: 700;
    font-size: 14px;
}
