.btn {
    padding: 15px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 270px;
    height: 44px;
    margin-bottom: 32px;
   
    &.loading, &.disabled {
        background: #9E9E9E;
        padding: 0;
        padding-left: 110px;

}
}
.disabled {
  background: #9E9E9E;
  padding: 15px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 270px;
    height: 44px;
    margin-bottom: 32px;
}
.btn_green{
    background: #31AE54;
}
.btn_grey{
    background: grey;
}
.btn::before {
    content: "";
    color: #FFFFFF;
    font-weight: 700;
}

.btn:hover {
    background: #9E9E9E;
  .text {
    display: none;
  }
  .hover-text {
    display: inline;
  }
    
}
.btn_text {
  color: #FFFFFF;
  font-weight: 700;
}

.btn:hover::before {
    // content: attr(data-hover-text);
    content: "";
    color: #FFFFFF;
    font-weight: 700;
}
button:not(:hover) {
    background: #31AE54;

    .text {
        display: inline;
      }
      .hover-text {
        display: none;
      }
}


