.topline_container {
    margin-bottom: 37px;
}
.c-topline {
    background: #FAFAFA;
    border-bottom: 1px solid #C6C6C8;
    margin-bottom: 30px;
}
.c-topline_black {
    background: black;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding: 45px;
}
