.topline_container {
    margin-bottom: 37px;
}
.c-topline {
    background: #FAFAFA;
    border-bottom: 1px solid #C6C6C8;
}
.c-topline_black {
    background: black;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}
.follow_container {
    margin-bottom: 0;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding: 45px;
}
.content {
    padding-bottom: 37px;
}
